.advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.advantages .title {
    font-size: 52px;
    font-weight: bold;
    color: var(--nav-background);
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.advantages .logo {
    margin-bottom: 40px;
    width: 200px;
}

.advantages .advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
}

.advantages .advantage {
    display: flex;
    align-items: center;
    gap: 15px;
}

.advantages .icon {
    font-size: 50px;
    color: var(--accent-color);
}

.advantages .text {
    font-size: 24px;
    color: var(--nav-background);
}

@media (max-width: 1024px) {
    .advantages .title {
        font-size: 40px;
    }

    .advantages .icon {
        font-size: 40px;
    }

    .advantages .text {
        font-size: 24px;
    }

    .advantages .logo {
        width: 170px;
    }
}

@media (max-width: 768px) {
    .advantages .advantages-list {
        grid-template-columns: 1fr;
    }

    .advantages .title {
        font-size: 32px;
    }

    .advantages .icon {
        font-size: 32px;
    }

    .advantages .text {
        font-size: 20px;
    }

    .advantages .logo {
        width: 150px;
    }
}
