.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    background-color: var(--nav-background);
    color: var(--background-color);
}

.about-content {
    width: 90%;
    max-width: 1200px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content h2 {
    font-size: 52px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 21px;
    margin-bottom: 20px;
}

@media (max-width: 1024px) {
    .about-content h2 {
        font-size: 40px;
    }

    .about-content p {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .about-content h2 {
        font-size: 32px;
    }

    .about-content p {
        font-size: 17px;
    }
}
