.filter-bar {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.filter-bar::-webkit-scrollbar {
    display: none;
}

.filter-select {
    padding: 10px 50px 10px 20px;
    height: 40px;
    border: 1px solid var(--nav-background);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--nav-background);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-select:hover {
    background-color: #cad1dc;
    transition: .2s ease;
}

.filter-select option {
    background-color: var(--nav-background);
    color: var(--background-color);
}

.category-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px;
    height: 40px;
    background-color: var(--background-color);
    border: 1px solid var(--nav-background);
    cursor: pointer;
    border-radius: 10px;
}

.category-button:hover {
    background-color: #a9881c;
    color: var(--background-color);
    transition: .2s ease;
}

.category-button.selected {
    background-color: #D4AF37;
    color: var(--background-color);
}

.for-select {
    width: 10px;
    margin-left: -40px;
    padding: 0;
    color: #000000;
    z-index: 0;
    pointer-events: none;
}

.select-namer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--nav-background);
    border: 1px solid;
    border-radius: 15px;
    padding: 10px 40px 10px 20px;
    width: 100%;
}

.select-namer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-arrow-icons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 768px) {
    .filter-select {
        font-size: 14px;
    }

    .select-namer span {
        font-size: 14px;
    }

    .filter-select option {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .select-namer {
        flex-direction: column;
        padding: 10px;
        white-space: nowrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .filter-select {
        padding: 0px 40px 0px 20px;
    }

    .for-select {
        margin-left: -20px;
        margin-right: 15px;
    }
}