@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --nav-background: #0A1F44;
  --accent-color: #D4AF37;
  --background-color: #FFFFF0;
  --secondary-accent: #014421;
  --tertiary-accent: #800020;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

* {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  border: none;
}