:root {
  --nav-background: #0A1F44;
  --accent-color: #D4AF37;
  --background-color: #FFFFF0;
  --secondary-accent: #014421;
  --tertiary-accent: #800020;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'GFS Didot';
  src: url('/fonts/GFSDidot-Regular.ttf') format('truetype');
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}