.most-popular-container {
    text-align: center;
    margin: 40px 0 0 0;
    padding: 80px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--nav-background);
}

.most-popular-title {
    font-size: 52px;
    font-weight: bold;
    color: var(--background-color);
    margin-bottom: 50px;
    margin-top: -10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.product-card {
    border-radius: 20px;
    overflow: hidden;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0b2148;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    padding: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.75s ease-out, transform 0.75s ease-out;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.product-image-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card-body {
    padding: 15px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.product-card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: var(--background-color);
}

.product-card-price-container {
    display: flex;
    align-items: center;
}

.product-card-price {
    font-size: 22px;
    color: var(--background-color);
    margin-right: 10px;
}

.product-card-old-price {
    font-size: 18px;
    color: #adadad;
    text-decoration: line-through;
}

.product-card-button {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 10px 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.product-card-button:hover {
    background-color: #967917;
}

@media (max-width: 1024px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .most-popular-title {
        font-size: 40px;
    }

    .most-popular-container {
        padding: 50px 10px;
    }
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .most-popular-title {
        font-size: 32px;
    }
}

.animate {
    opacity: 1;
    transform: translateY(0);
}

.animate-delay-0 {
    transition-delay: 0.35s;
}

.animate-delay-1 {
    transition-delay: 0.45s;
}

.animate-delay-2 {
    transition-delay: 0.55s;
}

.animate-delay-3 {
    transition-delay: 0.65s;
}