.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 10px 0;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    align-items: flex-start;

    background-color: transparent;
    overflow: hidden;
    transition: transform 0.1s, box-shadow 0.1s;
    opacity: 0;
    transform: translateY(20px);
    transition: .3s ease;

    cursor: pointer;
    color: var(--background-color);
}

.product.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

/* .product:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
} */

.product:hover h3 {
    text-decoration: underline;
    transition: .3s ;
}

.product img {
    width: 100%;
    object-fit: contain;
    filter: blur(10px);
    transition: filter 0.2s ease;
}

.product img.loaded {
    filter: blur(0);
}

.product h3 {
    font-size: 16px;
    font-weight: bold;
}

.product span {
    font-size: 16px;
    font-weight: 300;
}

.product p {
    margin-top: 10px;
    margin-bottom: 25px;
}

.product button {
    padding: 10px;
    color: #fff;
    border: .1px solid rgba(244, 244, 244, 0.3);
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.old-price {
    text-decoration: line-through;
    font-size: 15px !important;
    font-weight: 200;
    margin-left: 20px;
}

.product button:hover {
    background-color: #947612;
    transition: .3s ease;
    
}

/* @media (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product h3 {
        font-size: 14px;
    }
    
    .product span {
        font-size: 14px;
    }
    
    .product p {
        margin-top: 7px;
        margin-bottom: 17px;
        font-size: 14px;
    }
    
    .old-price {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product h3 {
        font-size: 12px;
    }
    
    .product span {
        font-size: 12px;
    }
    
    .product p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    
    .old-price {
        font-size: 11px !important;
    }
}