.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.icon-search {
    position: absolute;
    left: 18px;
    width: 16px;
    height: 16px;
    color: #fff;
}

.search-input {
    width: 100%;
    padding: 15px 45px 15px 45px;
    border: 1px solid var(--background-color);
    border-radius: 15px;
    background-color: var(--nav-background);
    color: var(--background-color);
}

.search-input::placeholder {
    color: #fff;
}

.icon-clear {
    position: absolute;
    right: 15px;
    width: 16px;
    height: 16px;
    color: #fff;
    cursor: pointer;
}
